<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>功效</string>
		</dict>
		<array>
			<string>瘦身</string>
			<string>补肾</string>
			<string>怯寒</string>
			<string>丰胸</string>
			<string>美容</string>
			<string>排毒</string>
			<string>补钙</string>
			<string>补血</string>
			<string>补铁</string>
			<string>补锌</string>
			<string>补虚</string>
			<string>补水</string>
			<string>补气</string>
			<string>补心</string>
			<string>壮阳</string>
			<string>活血化淤</string>
			<string>怯风散寒</string>
			<string>抗疲劳</string>
			<string>去湿气</string>
			<string>抗癌</string>
			<string>增强记忆力</string>
			<string>滋阴润燥</string>
			<string>提高免疫力</string>
			<string>美白</string>
			<string>防晒</string>
			<string>祛痘</string>
			<string>护肝</string>
			<string>明目</string>
			<string>去火</string>
			<string>乌发</string>
			<string>防脱发</string>
			<string>利尿</string>
			<string>清肺</string>
			<string>止咳</string>
			<string>安胎</string>
			<string>下奶</string>
			<string>调经</string>
			<string>暖宫</string>
			<string>延缓衰老</string>
			<string>降血脂</string>
			<string>降血糖</string>
			<string>降血压</string>
			<string>降低胆固醇</string>
			<string>解酒</string>
			<string>提神</string>
			<string>增高</string>
			<string>解暑</string>
			<string>生津止渴</string>
			<string>增肥</string>
			<string>抗过敏</string>
			<string>开胃</string>
			<string>促消化</string>
			<string>润肠通便</string>
			<string>健脑益智</string>
			<string>强筋健骨</string>
			<string>凉血</string>
			<string>止痛</string>
			<string>抗菌</string>
			<string>防辐射</string>
			<string>缓解压力</string>
			<string>糖尿病</string>
			<string>高血压</string>
			<string>高血脂</string>
			<string>冠心病</string>
			<string>通风</string>
			<string>动脉硬化</string>
			<string>中风</string>
			<string>肥胖</string>
			<string>痛经</string>
			<string>贫血</string>
			<string>月经不调</string>
			<string>缺铁性贫血</string>
			<string>低血糖</string>
			<string>内分泌失调</string>
			<string>宫寒</string>
			<string>气虚</string>
			<string>哮喘</string>
			<string>咽炎</string>
			<string>口腔溃疡</string>
			<string>肺热</string>
			<string>肺炎</string>
			<string>咳嗽</string>
			<string>发烧</string>
			<string>鼻塞</string>
			<string>咽喉炎</string>
			<string>过敏性鼻炎</string>
			<string>过敏</string>
			<string>偏头痛</string>
			<string>风寒</string>
			<string>感冒</string>
			<string>小儿咳嗽</string>
			<string>口臭</string>
			<string>牙痛</string>
			<string>掉头发</string>
			<string>晕车</string>
			<string>胃炎</string>
			<string>胃痛</string>
			<string>胃寒</string>
			<string>腹泻</string>
			<string>痔疮</string>
			<string>消化不良</string>
			<string>便秘</string>
			<string>脂肪肝</string>
			<string>肾炎</string>
			<string>尿频</string>
			<string>肾结石</string>
			<string>肾虚</string>
			<string>阳痿</string>
			<string>甲亢</string>
			<string>健忘</string>
			<string>失眠</string>
			<string>水肿</string>
			<string>骨折</string>
			<string>脾虚</string>
			<string>骨质疏松</string>
			<string>骨质增生</string>
		</array>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>人群</string>
		</dict>
		<array>
			<string>孕妇</string>
			<string>坐月子</string>
			<string>婴儿</string>
			<string>儿童</string>
			<string>白领</string>
			<string>老年人</string>
			<string>备孕期</string>
			<string>孕早期</string>
			<string>孕中期</string>
			<string>孕晚期</string>
			<string>幼儿</string>
			<string>一岁宝宝</string>
			<string>两岁宝宝</string>
			<string>三岁宝宝</string>
			<string>青少年</string>
			<string>小学生</string>
			<string>中学生</string>
			<string>考生</string>
			<string>更年期</string>
			<string>司机</string>
			<string>运动员</string>
			<string>体力劳动者</string>
			<string>脑力劳动者</string>
			<string>男性养生</string>
			<string>女性养生</string>
			<string>术后恢复</string>
			<string>气虚质</string>
			<string>阳虚质</string>
			<string>阴虚质</string>
			<string>湿热质</string>
			<string>痰湿质</string>
			<string>血瘀质</string>
			<string>特禀质</string>
			<string>气郁质</string>
			<string>阳盛质</string>
		</array>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>菜品</string>
		</dict>
		<array>
			<string>家常菜</string>
			<string>私房菜</string>
			<string>快手菜</string>
			<string>热菜</string>
			<string>凉菜</string>
			<string>素菜</string>
			<string>蒸菜</string>
			<string>创意菜</string>
			<string>下酒菜</string>
			<string>下饭菜</string>
			<string>懒人食谱</string>
			<string>西餐</string>
			<string>海鲜</string>
			<string>药膳</string>
			<string>卤菜</string>
			<string>腌菜</string>
			<string>农家菜</string>
			<string>婴儿辅食</string>
			<string>汤</string>
			<string>羹</string>
			<string>炖品</string>
			<string>小吃</string>
			<string>便当</string>
			<string>烧烤</string>
			<string>串烧</string>
			<string>拼盘</string>
			<string>杂烩</string>
			<string>酱汁</string>
			<string>火锅</string>
			<string>干锅</string>
			<string>香锅</string>
			<string>佐料</string>
			<string>自制调味料</string>
			<string>包子馅</string>
			<string>馄饨馅</string>
			<string>饺子馅</string>
			<string>粽子</string>
			<string>月饼</string>
			<string>月饼馅</string>
		</array>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>菜系</string>
		</dict>
		<array>
			<string>川菜</string>
			<string>湘菜</string>
			<string>粤菜</string>
			<string>闽菜</string>
			<string>浙菜</string>
			<string>鲁菜</string>
			<string>苏菜</string>
			<string>徽菜</string>
			<string>京菜</string>
			<string>天津菜</string>
			<string>上海菜</string>
			<string>渝菜</string>
			<string>东北菜</string>
			<string>清真菜</string>
			<string>豫菜</string>
			<string>晋菜</string>
			<string>赣菜</string>
			<string>湖北菜</string>
			<string>云南菜</string>
			<string>贵州菜</string>
			<string>新疆菜</string>
			<string>淮扬菜</string>
			<string>潮州菜</string>
			<string>客家菜</string>
			<string>广西菜</string>
			<string>西北菜</string>
			<string>香港美食</string>
			<string>台湾菜</string>
			<string>西餐</string>
			<string>日本料理</string>
			<string>韩国料理</string>
			<string>泰国菜</string>
			<string>法国菜</string>
			<string>意大利菜</string>
		</array>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>小吃</string>
		</dict>
		<array>
			<string>北京小吃</string>
			<string>台湾小吃</string>
			<string>香港小吃</string>
			<string>广东小吃</string>
			<string>成都小吃</string>
			<string>陕西小吃</string>
			<string>上海小吃</string>
			<string>西安小吃</string>
			<string>武汉小吃</string>
			<string>天津小吃</string>
			<string>四川小吃</string>
			<string>南京小吃</string>
			<string>浙江小吃</string>
			<string>苏州小吃</string>
			<string>长沙小吃</string>
			<string>湖北小吃</string>
			<string>潮汕小吃</string>
			<string>新疆小吃</string>
			<string>云南小吃</string>
			<string>贵州小吃</string>
			<string>河南小吃</string>
			<string>澳门小吃</string>
			<string>重庆小吃</string>
		</array>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>主食</string>
		</dict>
		<array>
			<string>炒饭</string>
			<string>粥</string>
			<string>面食</string>
			<string>粉</string>
			<string>饼</string>
			<string>寿司</string>
			<string>饭</string>
			<string>盖浇饭</string>
			<string>煲仔饭</string>
			<string>石锅拌饭</string>
			<string>面</string>
			<string>炒面</string>
			<string>馒头</string>
			<string>饺子</string>
			<string>包子</string>
			<string>卷子</string>
			<string>糕点</string>
			<string>汤圆</string>
			<string>馄饨</string>
		</array>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>口味</string>
		</dict>
		<array>
			<string>酸</string>
			<string>甜</string>
			<string>苦</string>
			<string>辣</string>
			<string>咸</string>
			<string>清淡</string>
			<string>爽口</string>
			<string>酸甜</string>
			<string>香甜</string>
			<string>微辣</string>
			<string>麻辣</string>
			<string>酸辣</string>
			<string>香辣</string>
			<string>椒盐</string>
			<string>奶香</string>
			<string>葱香</string>
			<string>酱香</string>
			<string>五香</string>
			<string>鱼香</string>
			<string>耗香</string>
			<string>咖喱味</string>
			<string>孜然味</string>
			<string>芥末味</string>
			<string>黑椒味</string>
			<string>烧烤味</string>
			<string>姜汁味</string>
			<string>茄汁味</string>
			<string>红油味</string>
			<string>糖醋味</string>
			<string>泡椒味</string>
			<string>蛋黄味</string>
			<string>怪味</string>
			<string>芝士味</string>
			<string>抹茶味</string>
			<string>芝麻味</string>
			<string>巧克力味</string>
			<string>果味</string>
			<string>草莓味</string>
			<string>香草味</string>
			<string>薄荷味</string>
			<string>橘子味</string>
			<string>蕃茄味</string>
			<string>柠檬味</string>
			<string>苹果味</string>
		</array>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>蛋/奶/豆</string>
		</dict>
		<array>
			<string>鸡蛋</string>
			<string>鸭蛋</string>
			<string>酸奶</string>
			<string>牛奶</string>
			<string>豆腐</string>
			<string>黄豆芽</string>
			<string>鹌鹑蛋</string>
			<string>皮蛋</string>
			<string>咸蛋</string>
			<string>鸡蛋白</string>
			<string>鸡蛋黄</string>
			<string>鸭蛋黄</string>
			<string>咸鸭蛋</string>
			<string>鹅蛋</string>
			<string>土鸡蛋</string>
			<string>乌鸡蛋</string>
			<string>鸽子蛋</string>
			<string>卤蛋</string>
			<string>奶酪</string>
			<string>奶油</string>
			<string>奶粉</string>
			<string>蛋粉</string>
			<string>酥油</string>
			<string>巧克力</string>
			<string>黄油</string>
			<string>炼乳</string>
			<string>低脂奶酪</string>
			<string>蚕豆</string>
			<string>豆腐干</string>
			<string>豆皮</string>
			<string>黑豆</string>
			<string>红豆</string>
			<string>黄豆</string>
			<string>绿豆</string>
			<string>毛豆</string>
			<string>青豆</string>
			<string>小豆</string>
			<string>香干</string>
			<string>绿豆芽</string>
			<string>腐竹</string>
			<string>豆渣</string>
			<string>千张</string>
			<string>臭豆腐</string>
			<string>板豆腐</string>
			<string>脆豆腐</string>
			<string>黑豆苗</string>
			<string>内脂豆腐</string>
			<string>豆腐丝</string>
			<string>油豆腐</string>
			<string>豆腐皮</string>
			<string>黄豆粉</string>
			<string>豆腐卷</string>
			<string>素火腿</string>
			<string>素鸡</string>
			<string>豆沙</string>
			<string>红豆馅</string>
			<string>北豆腐</string>
			<string>南豆腐</string>
			<string>卤豆腐干</string>
			<string>香豆腐干</string>
			<string>豆浆粉</string>
			<string>素肉丝</string>
			<string>腐乳</string>
		</array>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>烘焙甜品</string>
		</dict>
		<array>
			<string>烘焙</string>
			<string>蛋糕</string>
			<string>面包</string>
			<string>饼干</string>
			<string>派类</string>
			<string>披萨</string>
			<string>挞类</string>
			<string>果冻</string>
			<string>布丁</string>
			<string>冰淇淋</string>
			<string>糖果</string>
			<string>零食</string>
			<string>甜品</string>
			<string>饮品</string>
			<string>冰品</string>
			<string>糖水</string>
			<string>沙拉</string>
			<string>茶饮</string>
			<string>酒水</string>
			<string>花草茶</string>
			<string>果汁</string>
		</array>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>蔬菜水果</string>
		</dict>
		<array>
			<string>白菜</string>
			<string>萝卜</string>
			<string>芹菜</string>
			<string>菠菜</string>
			<string>草莓</string>
			<string>苹果</string>
			<string>茼蒿</string>
			<string>香菜</string>
			<string>苋菜</string>
			<string>菜苔</string>
			<string>甘蓝</string>
			<string>生菜</string>
			<string>娃娃菜</string>
			<string>油麦菜</string>
			<string>莴笋</string>
			<string>青菜</string>
			<string>紫甘蓝</string>
			<string>胡萝卜</string>
			<string>土豆</string>
			<string>山药</string>
			<string>红薯</string>
			<string>紫薯</string>
			<string>香芋</string>
			<string>洋葱</string>
			<string>藕</string>
			<string>荸荠</string>
			<string>豆角</string>
			<string>茄子</string>
			<string>青椒</string>
			<string>菜花</string>
			<string>西兰花</string>
			<string>西红柿</string>
			<string>南瓜</string>
			<string>四季豆</string>
			<string>秋葵</string>
			<string>蘑菇</string>
			<string>香菇</string>
			<string>金针菇</string>
			<string>黑木耳</string>
			<string>银耳</string>
			<string>猴头菇</string>
			<string>竹荪</string>
			<string>茶树菇</string>
			<string>杏鲍菇</string>
			<string>菌菇</string>
			<string>火龙果</string>
			<string>梨</string>
			<string>柠檬</string>
			<string>山楂</string>
			<string>柿子</string>
			<string>香蕉</string>
			<string>樱桃</string>
			<string>柚子</string>
			<string>枣</string>
			<string>橘子</string>
			<string>橙</string>
			<string>香梨</string>
			<string>鸭梨</string>
			<string>红枣</string>
			<string>金橘</string>
			<string>杏子</string>
			<string>白果</string>
			<string>桂圆</string>
			<string>板栗</string>
			<string>甘蔗</string>
			<string>冬瓜</string>
		</array>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>肉类水产</string>
		</dict>
		<array>
			<string>猪肉</string>
			<string>鲫鱼</string>
			<string>带鱼</string>
			<string>排骨</string>
			<string>牛肉</string>
			<string>羊肉</string>
			<string>鸡肉</string>
			<string>鸭肉</string>
			<string>里脊</string>
			<string>猪蹄</string>
			<string>五花肉</string>
			<string>猪排</string>
			<string>腊肉</string>
			<string>猪肚</string>
			<string>猪血</string>
			<string>猪皮</string>
			<string>猪耳</string>
			<string>猪肺</string>
			<string>猪肝</string>
			<string>猪心</string>
			<string>猪舌</string>
			<string>肥肠</string>
			<string>猪腰</string>
			<string>肥肉</string>
			<string>肉丸</string>
			<string>猪尾巴</string>
			<string>叉烧肉</string>
			<string>腊肠</string>
			<string>金华火腿</string>
			<string>火腿肠</string>
			<string>午餐肉</string>
			<string>咸肉</string>
			<string>培根</string>
			<string>酱肉</string>
			<string>卤肉</string>
			<string>熏肉</string>
			<string>香肠</string>
			<string>牛排</string>
			<string>牛腩</string>
			<string>牛百叶</string>
			<string>牛蹄筋</string>
			<string>牛里脊肉</string>
			<string>酱牛肉</string>
			<string>牛肉干</string>
			<string>肥牛片</string>
			<string>牛腱子肉</string>
			<string>卤牛肉</string>
			<string>牛骨</string>
			<string>牛肉丸</string>
			<string>羊排</string>
			<string>羊肉片</string>
			<string>羊肚</string>
			<string>羊血</string>
			<string>羊肝</string>
			<string>羊腿</string>
			<string>羊肉馅</string>
			<string>羊骨</string>
			<string>兔肉</string>
			<string>驴肉</string>
			<string>火腿</string>
			<string>鸡</string>
			<string>鸡翅</string>
			<string>鸡腿</string>
			<string>鸡爪</string>
			<string>鸡胸脯肉</string>
			<string>鸡肝</string>
			<string>鸡心</string>
			<string>鸡血</string>
			<string>鸡肫</string>
			<string>乌骨鸡</string>
			<string>土鸡</string>
			<string>三黄鸡</string>
			<string>仔鸡</string>
			<string>鸡肉肠</string>
			<string>鸡杂</string>
			<string>鸡肉丸</string>
			<string>鸡排</string>
			<string>乌鸡</string>
			<string>鸭</string>
			<string>鸭腿</string>
			<string>鸭脖</string>
			<string>鸭掌</string>
			<string>鸭翅</string>
			<string>鸭肠</string>
			<string>鸭肝</string>
			<string>鸭舌</string>
			<string>鸭肫</string>
			<string>鸭血</string>
			<string>鸭架</string>
			<string>烤鸭</string>
			<string>板鸭</string>
			<string>鸭胗</string>
			<string>鹅肉</string>
			<string>鹅肝</string>
			<string>乳鸽</string>
			<string>鹌鹑</string>
			<string>鸽子</string>
			<string>草鱼</string>
			<string>鲤鱼</string>
			<string>鲢鱼</string>
			<string>鲈鱼</string>
			<string>黑鱼</string>
			<string>鲶鱼</string>
			<string>青鱼</string>
			<string>鳊鱼</string>
			<string>银鱼</string>
			<string>鲮鱼</string>
			<string>甲鱼</string>
			<string>牛蛙</string>
			<string>田鸡</string>
			<string>雪蛤</string>
			<string>黄鳝</string>
			<string>罗非鱼</string>
			<string>泥鳅</string>
			<string>鳜鱼</string>
			<string>鲳鱼</string>
			<string>武昌鱼</string>
			<string>鱼头</string>
			<string>三文鱼</string>
			<string>鳕鱼</string>
			<string>鳗鱼</string>
			<string>墨鱼</string>
			<string>鲅鱼</string>
			<string>金枪鱼</string>
			<string>黄鱼</string>
			<string>秋刀鱼</string>
			<string>沙丁鱼</string>
			<string>多宝鱼</string>
			<string>石斑鱼</string>
			<string>比目鱼</string>
			<string>海鳗</string>
			<string>海鲫鱼</string>
			<string>鱼排</string>
			<string>鱼丸</string>
			<string>章鱼</string>
			<string>基围虾</string>
			<string>河虾</string>
			<string>虾皮</string>
			<string>明虾</string>
			<string>虾仁</string>
			<string>皮皮虾</string>
			<string>海虾</string>
			<string>龙虾</string>
			<string>虾酱</string>
			<string>海米</string>
			<string>虾丸</string>
			<string>大闸蟹</string>
			<string>河蟹</string>
			<string>海蟹</string>
			<string>蟹肉</string>
			<string>螃蟹</string>
			<string>文哈</string>
			<string>扇贝</string>
			<string>鲍鱼</string>
			<string>鱿鱼</string>
			<string>海参</string>
			<string>海蜇</string>
			<string>海带</string>
			<string>河蚌</string>
			<string>生蚝</string>
			<string>蛤蜊</string>
			<string>田螺</string>
			<string>螺蛳</string>
			<string>海虹</string>
			<string>北极贝</string>
			<string>海苔</string>
			<string>海螺</string>
			<string>墨鱼丸</string>
			<string>蟹柳</string>
			<string>鱼饼</string>
			<string>鱼柳</string>
			<string>紫菜</string>
		</array>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>场景节日</string>
		</dict>
		<array>
			<string>早餐</string>
			<string>午餐</string>
			<string>下午茶</string>
			<string>晚餐</string>
			<string>夜宵</string>
			<string>聚会</string>
			<string>野餐</string>
			<string>单身</string>
			<string>二人世界</string>
			<string>宴请</string>
			<string>熬夜</string>
			<string>春节</string>
			<string>情人节</string>
			<string>元宵节</string>
			<string>清明节</string>
			<string>母亲节</string>
			<string>儿童节</string>
			<string>端午节</string>
			<string>父亲节</string>
			<string>七夕节</string>
			<string>中秋节</string>
			<string>重阳节</string>
			<string>万圣节</string>
			<string>感恩节</string>
			<string>圣诞节</string>
			<string>小年</string>
			<string>腊八节</string>
			<string>年夜饭</string>
			<string>冬季</string>
			<string>春季</string>
			<string>夏季</string>
			<string>秋季</string>
			<string>立冬</string>
			<string>小雪</string>
			<string>大雪</string>
			<string>冬至</string>
			<string>小寒</string>
			<string>大寒</string>
		</array>
	</array>
</array>
</plist>
