<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>标题</string>
			<key>step</key>
			<string>第一步</string>
			<key>tips</key>
			<string>点击添加／修改标题</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>食材</string>
			<key>step</key>
			<string>第二步</string>
			<key>tips</key>
			<string>点击添加／修改食材</string>
			<key>food</key>
			<array>
				<dict>
					<key>zhanweifu</key>
					<string>请输入食材名称以及用量(g)</string>
					<key>content</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>时间</string>
			<key>step</key>
			<string>第三步</string>
			<key>tips</key>
			<string>点击添加／修改时间</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>步骤</string>
			<key>step</key>
			<string>第四步</string>
			<key>tips</key>
			<string>点击添加／修改步骤</string>
			<key>steps</key>
			<array>
				<dict>
					<key>zhanweifu</key>
					<string>请输入详细步骤</string>
					<key>content</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>图片</string>
			<key>step</key>
			<string>第五步</string>
			<key>tips</key>
			<string>点击添加／修改图片</string>
			<key>images</key>
			<array>
				<string></string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>预览</string>
			<key>step</key>
			<string>第六步</string>
			<key>tips</key>
			<string>点击预览</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>发布</string>
			<key>step</key>
			<string>第七步</string>
			<key>tips</key>
			<string>点击发布</string>
		</dict>
	</array>
</array>
</plist>
