<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>headTitle</key>
			<string>养生必读</string>
			<key>content</key>
			<array>
				<string>菠萝：止泻、消食积、利水</string>
				<string>姜：降逆止呕、化痰止咳、散寒解表</string>
				<string>胡萝卜：养肝明目、健脾、化痰止咳</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>headTitle</key>
			<string>用料</string>
			<key>content</key>
			<array>
				<dict>
					<key>title</key>
					<string>菠萝</string>
					<key>subtitle</key>
					<string>1个</string>
				</dict>
				<dict>
					<key>title</key>
					<string>里脊肉</string>
					<key>subtitle</key>
					<string>500克</string>
				</dict>
				<dict>
					<key>title</key>
					<string>葱</string>
					<key>subtitle</key>
					<string>适量</string>
				</dict>
				<dict>
					<key>title</key>
					<string>姜</string>
					<key>subtitle</key>
					<string>适量</string>
				</dict>
				<dict>
					<key>title</key>
					<string>蒜</string>
					<key>subtitle</key>
					<string>适量</string>
				</dict>
				<dict>
					<key>title</key>
					<string>胡萝卜</string>
					<key>subtitle</key>
					<string>适量</string>
				</dict>
				<dict>
					<key>title</key>
					<string>黄瓜</string>
					<key>subtitle</key>
					<string>适量</string>
				</dict>
				<dict>
					<key>title</key>
					<string>白糖</string>
					<key>subtitle</key>
					<string>50克</string>
				</dict>
				<dict>
					<key>title</key>
					<string>白醋</string>
					<key>subtitle</key>
					<string>30克</string>
				</dict>
				<dict>
					<key>title</key>
					<string>淀粉</string>
					<key>subtitle</key>
					<string>100克</string>
				</dict>
				<dict>
					<key>title</key>
					<string>盐</string>
					<key>subtitle</key>
					<string>10克</string>
				</dict>
				<dict>
					<key>title</key>
					<string>料酒</string>
					<key>subtitle</key>
					<string>10克</string>
				</dict>
				<dict>
					<key>title</key>
					<string>番茄酱</string>
					<key>subtitle</key>
					<string>30克</string>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>headTitle</key>
			<string>做法</string>
			<key>content</key>
			<array>
				<dict>
					<key>content</key>
					<string>姜，蒜洗净切片；葱切葱花；胡萝卜、花瓜洗净切成拇指大戏哦啊的滚刀块，萝卜去皮洗净同切成拇指大小的滚刀块备用。</string>
					<key>image</key>
					<string>details_img_00</string>
				</dict>
				<dict>
					<key>content</key>
					<string>里脊肉洗净，切成拇指大小的滚刀块，放入5克盐，少许葱姜，腌制15分钟。</string>
					<key>image</key>
					<string>details_img_01</string>
				</dict>
				<dict>
					<key>content</key>
					<string>用白糖50克，白醋30克，盐5克，淀粉10克，加少许清水，调成料汁备用。</string>
					<key>image</key>
					<string>details_img_02</string>
				</dict>
				<dict>
					<key>content</key>
					<string>锅内放水，水烧开，放入切好的胡萝卜，黄瓜，菠萝焯一下，捞出沥干水分备用。</string>
					<key>image</key>
					<string>details_img_03</string>
				</dict>
				<dict>
					<key>content</key>
					<string>将腌制好的里脊肉，用淀粉均匀。</string>
					<key>image</key>
					<string>details_img_04</string>
				</dict>
				<dict>
					<key>content</key>
					<string>锅内下油，待油温加热至7成热，即手放油上有明显热度时，放入里脊肉，快速翻炒，待肉炸至外焦，颜色金黄时盛时。</string>
					<key>image</key>
					<string>details_img_05</string>
				</dict>
				<dict>
					<key>content</key>
					<string>锅内放入10克油，待油温加热至7成时，放入番茄酱、蒜、葱，煸炒出香味倒入之前调好的料汁勾芡；放入炸好的肉和黄瓜，胡萝卜，菠萝大火翻炒，使汤汁均匀裹在表面，撒葱未出锅。</string>
					<key>image</key>
					<string>details_img_06</string>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>headTitle</key>
			<string>小贴士</string>
			<key>content</key>
			<array>
				<string>油温加热至7成热，即手放油上有明显热度。</string>
			</array>
		</dict>
	</array>
</array>
</plist>
