<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>文字大小</string>
			<key>subTitle</key>
			<string>正常</string>
			<key>subItem</key>
			<array>
				<dict>
					<key>title</key>
					<string>较小</string>
					<key>subTitle</key>
					<string>12</string>
				</dict>
				<dict>
					<key>title</key>
					<string>正常</string>
					<key>subTitle</key>
					<string>14</string>
				</dict>
				<dict>
					<key>title</key>
					<string>较大</string>
					<key>subTitle</key>
					<string>16</string>
				</dict>
				<dict>
					<key>title</key>
					<string>超大</string>
					<key>subTitle</key>
					<string>20</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>图片加载</string>
			<key>subTitle</key>
			<string>自动判断</string>
			<key>subItem</key>
			<array>
				<dict>
					<key>title</key>
					<string>自动判断</string>
					<key>subTitle</key>
					<string>无线网络为大图, 2G/3G/4G为小图</string>
				</dict>
				<dict>
					<key>title</key>
					<string>始终大图</string>
					<key>subTitle</key>
					<string>始终加载大图</string>
				</dict>
				<dict>
					<key>title</key>
					<string>始终小图</string>
					<key>subTitle</key>
					<string>始终加载小图</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>主题颜色</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>关于我们</string>
			<key>subTitle</key>
			<string>遇到问题请与我们联系~</string>
		</dict>
	</array>
</array>
</plist>
